<nav class="navbar navbar-custom fixed-top">
  <div class="container-fluid ">

    <a class="navbar-brand mx-3" href="#">Proyecto Final</a>
    <img src="../../../assets/img/logo.png" class="tamañoimg" alt="">
   
    <button class="navbar-toggler colorblanco" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon  nav-link active"></span>
    </button>
    <div class="offcanvas offcanvas-start navbar-custom navbar-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header colorblanco">
        <h4 class=" navbar-dark" id="offcanvasNavbarLabel">Cuarto de Soluciones TCC</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" ><h5><i class="bi bi-house-fill"></i> Inicio</h5> </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/mercancia"><h5><i class="bi bi-person-plus-fill"></i> Registrar Mercancia</h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buscar"><h5><i class="bi bi-zoom-in"></i> Buscar Mercancia</h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eliminar"><h5><i class="bi bi-person-x-fill"></i> Eliminar Mercancia</h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/zona"><h5><i class="bi bi-box"></i> Registar Zona</h5> </a>
          </li>
     
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <!-- <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</nav>
