<app-menu></app-menu>
<br><br><br><br>
<h1 class="mx-5">Buscar Mercancia</h1>
<br><br>


<div class="row">
    <div class="col-5">
      <div class="row">
        <div class="col-5 mx-5"><h4> Buscar Por IUP :</h4></div>
<div class="col-5">
  <form class="d-flex " role="search">
    
    <input class="form-control me-2" type="search" placeholder="Buscar IUP" aria-label="Search">
    <button class="btn btn-warning" type="submit">Search</button>
  </form>
</div>
      </div>
      


      
        <div class="container my-5 mx-5">

          <table class="table table-bordered ">
            <thead>
              <tr>
                <th scope="col" style="width: 100px;">IUP:</th>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row " style="width: 80px;">Descripcion Mercancia:</th>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">Volumen:</th>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row">Ubicacion:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Nombre Remitente:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Cedula Remitente:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Ciudad Remitente:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Departamento Remitente:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Direccion Remitente:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Nombre Destinatario:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Cedula Destinatario:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Ciudad Destinatario:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Departamento Destinatario:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Direccion Destinatario:</th>
                <td colspan="2"></td>
               
              </tr>
              <tr>
                <th scope="row">Zona:</th>
                <td colspan="2"></td>
               
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-6 mx-5">
        <h2 class="my-3">Mercancias en Cuarto:</h2>
        <div class="row row-cols-1 row-cols-md-2 g-3 "*ngFor="let dato of datosZonas">
          <div class="col my-3"*ngFor="let mercancia of dato.mercancias">
            
            <div class="card h-100">
              <h2 class="text-center text-muted ">{{dato.nombre}}</h2>
              <h2 class="text-center text-muted">{{mercancia.nombre}}</h2>
              <h3 class="text-center text-muted">Volumen Ocupado: {{mercancia.volumen}}</h3>
              <button (click)="retirarMercancia(mercancia.iup)" class="btn btn-primary m-2" type="button">Retirar del Cuarto</button>

            </div>
           
           <hr><hr>

          </div>

        </div>

    </div>
</div>

