<app-menu></app-menu>
<br><br><br><br>

<h1>estamos eliminando mercancia</h1>



<button type="submit">buscarMercancia</button>

<div class="row">
    <div class="col-6">
        <div class="container my-5">
       
            <table class="table"> 
                <thead>
                  <tr>
                    <th scope="col">Nombre Pelicula</th>
                    <th scope="col">Director</th>
                    <th scope="col">Productor</th>
                    <th scope="col">Fecha Lanzamineto</th>
                    <th scope="col">Especies</th>
                  </tr>
                </thead>
                <tbody id="tabla"></tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <h2 class="my-3">Mercancias en Cuarto:</h2>
        <div class="row row-cols-1 row-cols-md-2 g-3 "*ngFor="let dato of datosZonas"> 
            <app-grafica></app-grafica>

        </div>

    </div>
</div>