<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">

        <form>
          <div class="row">
            <div class="col-12">
              <h1>Ingreso de mercancia</h1>
              <hr>

            </div>
        </div>
          <div class="mb-3">
            <label class="form-label">IUP :</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-upc-scan"></i></span>
              <input type="text" class="form-control" placeholder="Codigo de Barras">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label bold">Remitente :</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Tipo De Cliente</option>
              <option value="1">Empresa</option>
              <option value="2">Persona Natural</option>

            </select>


          </div>



          <div class="row">
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" placeholder="Identificacion">
              </div>

            </div>
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-bounding-box"></i></span>
                <input type="text" class="form-control" placeholder="Nombre">
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-6">

              <select class="form-select" aria-label="Default select example">
                <option selected>Departamento</option>
                <option value="1">Empresa</option>
                <option value="2">Persona Natural</option>

              </select>

            </div>
            <div class="col-6">

              <select class="form-select" aria-label="Default select example">
                <option selected>Municipio</option>
                <option value="1">Empresa</option>
                <option value="2">Persona Natural</option>

              </select>



            </div>
          </div>

          <div class="mb-5 my-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
              <input type="text" class="form-control" placeholder="Direccion">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label bold">Destinatario :</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Tipo De Cliente</option>
              <option value="1">Empresa</option>
              <option value="2">Persona Natural</option>

            </select>


          </div>



          <div class="row">
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" placeholder="Identificacion">
              </div>

            </div>
            <div class="col-6">

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-bounding-box"></i></span>
                <input type="text" class="form-control" placeholder="Nombre">
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-6">

              <select class="form-select" aria-label="Default select example">
                <option selected>Departamento</option>
                <option value="1">Empresa</option>
                <option value="2">Persona Natural</option>

              </select>

            </div>
            <div class="col-6">

              <select class="form-select" aria-label="Default select example">
                <option selected>Municipio</option>
                <option value="1">Empresa</option>
                <option value="2">Persona Natural</option>

              </select>



            </div>
          </div>

          <div class="mb-5 my-3">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
              <input type="text" class="form-control" placeholder="Direccion">
            </div>
          </div>

          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Zona</option>
              <option value="1">Empresa</option>
              <option value="2">Persona Natural</option>

            </select>


          </div>

          <button type="submit" class="btn btn-warning">Registrar</button>
        </form>

    </div>
  </div>
</div>
