<app-menu></app-menu>
<br><br><br><br><br>

<div class="container">
<div class="row">
  <div class="col-5 ">
    <h4>Introduccion Solucion</h4>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, tenetur hic voluptatum sit nulla quidem perferendis reiciendis ex fugiat omnis voluptatibus ea vel non eligendi. Commodi facere neque cum. Nihil, dolores expedita molestias est quisquam corporis dolor tenetur, accusantium laudantium accusamus blanditiis eveniet rem itaque voluptatum mollitia facere harum excepturi ipsam adipisci voluptatibus. Labore cum reprehenderit voluptates consequuntur laborum eos fugiat doloribus id quos porro atque optio, accusamus quod obcaecati deserunt at illum aliquid hic exercitationem sequi vero aperiam temporibus. Tenetur quam libero numquam inventore explicabo laboriosam eum assumenda laborum officia? Praesentium molestiae quae quam temporibus nulla error ea illum.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum at veritatis laborum numquam corporis similique in consequuntur quia atque commodi deserunt facere labore reprehenderit provident autem voluptates, consequatur vero nobis possimus! Totam voluptatibus accusamus necessitatibus quos, officiis nam, sequi similique dolore adipisci quaerat illum quae deleniti odit excepturi quidem magni?</p>

    <h4>Tecnologias Utilizadas Para el Desarrollo :</h4>
    <br>
    <ul>
      <li>
        <h4>Angular</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ad inventore voluptate. Laudantium nam voluptatem vel! Est, vero rerum? Perferendis saepe, aspernatur voluptas blanditiis architecto consequuntur eaque. Mollitia dolorum similique eius culpa eos quod, molestias quibusdam assumenda temporibus! Recusandae doloremque fugiat inventore officia dolorem quos ipsa rem quia, doloribus accusantium!</p>
      </li>
      <li>
        <h4>Spring Boot</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam earum odio et inventore provident repudiandae enim. Aperiam quod voluptate, error, rem est impedit iusto ea harum modi odio molestiae eaque suscipit ullam cupiditate hic quaerat quia perferendis. Sit, porro soluta! Sequi dolorem illo numquam libero totam amet esse maiores dignissimos.</p>
      </li>
      <li>
        <h4>Sweet Alert</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatum consectetur at vero laborum asperiores et sit voluptatibus inventore dolores.</p>
      </li>
      <li>
        <h4>My SQL</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatum consectetur at vero laborum asperiores et sit voluptatibus inventore dolores.</p>
      </li>
    </ul>


  </div>
  <div class="col-5 mx-5">

    <h4>Cuartos de Soluciones Estadisticas</h4>
    <br><br>
    <app-grafica2></app-grafica2>
    <br><br>

<div class="row ">

  <h4>Integrantes :</h4>

  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>


</div>

</div>
</div>

