<app-menu></app-menu>
<br><br><br><br><br>

<div class="container">
<div class="row">
  <div class="col-5 ">
    <h4>Introduccion Solucion</h4>
    <br><br>
    <p>Durante la construcción de este proyecto se busca innovar una solución tecnológica en los cuartos de soluciones la cual facilite el control de las entradas, salidas y ubicación de las mercancías, teniendo en cuenta la capacidad disponible que el mismo tenga.</p>
    <br>

    <p>Para darle solución y que se pueda integrar con el sistema Core de negocio vamos a utilizar un api que se conecte con el servidor y podamos darle solución al objetivo del proyecto</p>
<br><br>
    <h4>Objetivos</h4>
    <br>

    <ul>
      <li>
        <p>Administrar de manera eficiente la mercancía ingresada a los cuartos de soluciones de la empresa y poder visualizar las diferentes mercancías en sus respectivos lugares, Suministrar un lugar específico a la mercancía ingresada y a la vez facilitar al usuario la información necesaria.
      </p>
    </li>
    <br>
    <li>
      <p>Optimizar el inventario de las mercancías ingresadas a los distintos cuartos de soluciones y así poder lograr darle rotación a la mercancía dando solución a   la necesidad que en este caso serían los espacios disponibles en las zonas.
      </p>
    </li>
    </ul>
<br><br>
    <h4>Tecnologias Utilizadas Para el Desarrollo :</h4>
    <br>
    <ul>
      <li>
        <h4>Angular</h4>
        <p>Para el desarrollo de este sitio web,utilizamos este Framework el cual nos facilito la creacion del front end con la cual logramos el objetivo de un sitio web facil y util de usar para los usuarios;ademas de cumplir con el reto propuesto por la compañia</p>
      </li>
      <br>
      <li>
        <h4>Spring Boot</h4>
        <p>Para el funcionamiento de este sitio web utilizamos este framework para crear una api la cual se conecta con la base de datos y nos permitio hacer las funciones de este sitio web  </p>
      </li>
      <li>
        <h4>Sweet Alert</h4>
        <p>Con este framework nos facilita los mensajes de entrada  y los mensajes de verificacion y confirmacion </p>
      </li>
      <li>
        <h4>My SQL</h4>
        <p>Con este editor de SQL creamos la base de datos de nuestro proyecto final </p>
      </li>
    </ul>


  </div>
  <div class="col-5 mx-5">

    <h4>Cuartos de Soluciones</h4>
    <br><br>
      <img class="imagen " src="../../assets/img/tccinicio.png" alt="">
    

<div class="row ">

  <h4>Integrantes :</h4>

  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/fotoKevin.jpg" class="card-img-top tamaño" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Kevin Valencia</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/kevingorra"><i class="bi bi-github"></i> Kevingorra</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/fotocarlos.jpg" class="card-img-top tamaño" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Carlos Quiroz</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/NOCTURNO91"><i class="bi bi-github"></i>NOCTURNO91</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/fotoElver.jpg" class="card-img-top tamaño" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Elver Tunubala</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/ElverTunubala"><i class="bi bi-github"></i> ElverTunubala</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/fotojuan.jpg" class="card-img-top tamaño" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Esteban Riveros</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/estebanrimu714"><i class="bi bi-github"></i> estebanrimu714</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="my-2">
      <div class="card">
        <img src="../../assets/img/fotopipe.jpg" class="card-img-top tamaño" alt="...">
        <div class="card-body">
          <h6 class="card-text">Nombre Desarrolador :</h6>
          <p class="card-text">Felipe Criado</p>
          <h6 class="card-text">Git Hub :</h6>
          <p class="card-text"><a href="https://github.com/Felipe408CR"><i class="bi bi-github"></i> Felipe408CR</a></p>
        </div>
      </div>
    </div>
  </div>
  


</div>

</div>
</div>
</div>

<app-footer></app-footer>

